{% if author.orcid %}
  <li>
    <a href="http://orcid.org/{{ site.orcid.username }}" itemprop="sameAs">
      <span style="color: #aacd49;"><i class="fab fa-orcid fa-fw" aria-hidden="true"></i></span> ORCID
    </a>
  </li>
{% endif %}
{% if author.researchgate %}
  <li>
    <a href="http://www.researchgate.net/profile/{{ site.researchgate.username }}" itemprop="sameAs">
      <span style="color: #00ccbb;"><i class="fab fa-researchgate fa-fw" aria-hidden="true"></i></span> ResearchGate
    </a>
  </li>
{% endif %}
{% if author.academia %}
  <li>
    <a href="http://utoronto.academia.edu/{{ site.academia.username }}" itemprop="sameAs">
      <i class="ai ai-academia fa-fw" aria-hidden="true"></i> Academia
    </a>
  </li>
{% endif %}
{% if author.gscholar. %}
  <li>
    <a href="http://scholar.google.ca/citations?user={{ site.gscholar.username }}" itemprop="sameAs">
      <span style="color: #4584ee;"><i class="fab fa-google fa-fw" aria-hidden="true"></i></span> Google Scholar
    </a>
  </li>
{% endif %}
