<div class="socialLinks">
  <!-- {% for link in site.social %}
      <a class="socialLinks__link socialLInk__{{ link.platform }}" href="{{ link.url }}" target="_blank">{{ link.platform }}</a>
  {% endfor %} -->
  <a class="socialLinks__link " href="https://www.linkedin.com/in/stephanietcheung/" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
  <a class="socialLinks__link" href="https://orcid.org/0000-0001-7006-3160" target="_blank"><i class="fa-brands fa-orcid fa-fw"></i> ORCID</a>
  <a class="socialLinks__link" href="mailto:hello@stephaniecheung.ca" target="_blank"><i class="fas fa-envelope fa-fw"></i> Email</a>
</div>
